################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__vm
/Debug
/.vs/UselessBox/v14
/UselessBox.vcxproj.filters
/UselessBox.vcxproj
/UselessBox.sln
